@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --border-color: hsl(190, 100%, 42%);
    --bg-color: hsl(189, 75%, 75%);
    --body-color: hsl(190, 30%, 95%);
    --white: hsl(190, 30%, 100%);
    --box-shadow: hsl(190, 30%, 85%);

    --black: #000;
    --text-color: #333;
    --icon-color: #888;
    --font-size: 1rem;
    --border-radius: 1rem;
}

.loading {
    position: fixed;
    height: 100vh;
    color: var(--border-color);
    background-color: #000; 
    width: 110%;
    gap: 1rem;
    z-index: 99;
    animation: disable 0ms forwards;
    animation-delay: 4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading img {
    width: 200px;
    animation: image 5s ease 1 forwards;
    animation-delay: 1s;
}

@keyframes image {
    to {
        opacity: 0;
        scale: 100;
    }
}

@keyframes disable{
    to{
        display: none;
    }
}

#over {
    position: fixed;
    width: 110%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.none {
    display: none;
}

body {
    background-color: var(--body-color);
    width: 98vw;
    margin: 0 1%;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 5px;
    height: 0;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 100px var(--border-color);
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: all 200ms;
    text-decoration: none;
}

a {
    color: var(--text-color);
}

*::selection {
    background-color: aliceblue;
}

.create_post {
    position: fixed;
    top: 50%;
    left: 50%;
    color: var(--black);
    background-color: var(--white);
    box-shadow: 0 0 20px var(--bg-color);
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 25rem;
    border-radius: 0.5rem;
    padding: 1rem;
    display: none;
}

.create_post h1 {
    text-align: center;
    color: var(--border-color);
    font-size: calc(var(--font-size)*2);
    margin-bottom: 2rem;
}

.create_input {
    margin-bottom: 1.5rem;
}

.create_input input {
    outline: none;
    border: none;
    color: var(--text-color);
    background-color: var(--body-color);
    padding: 0.7rem 1rem;
    width: 90%;
    border-radius: 0.3rem;
}

.create_input label{
    font-size: var(--font-size);
}

textarea {
    resize: none;
    color: var(--text-color);
    width: 90%;
    border-radius: 0.5rem;
    height: 5rem;
    border: none;
    padding: 0.7rem 1rem;
    outline: none;
    background-color: var(--body-color);
}

.create_post button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.7rem 1rem;
    cursor: pointer;
    background-color: var(--border-color);
    width: 50%;
    border-radius: 0.3rem;
    font-size: 1rem;
    color: var(--white);
    font-weight: bold;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 1rem;
}

.create_post button:hover,
#it:hover {
    opacity: 0.8;
}

#select,
#upload_image {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--border-color);
    color: var(--white);
    border: none;
    outline: none;
    cursor: pointer;
}

#select *,
#upload_image * {
    color: var(--text-color);
    background-color: var(--white);
}

nav {
    position: fixed;
    margin-top: 0.5rem;
    height: 70px;
    width: 94vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    z-index: 9;
    border-radius: calc(var(--border-radius)*3);
    border-bottom: 3px solid var(--bg-color);
    box-shadow: 0 0 10px var(--box-shadow);
    padding: 0rem 1rem;
}

#logo{
    display: none;
}

nav h1 {
    color: var(--border-color);
    font-size: calc(var(--font-size)*1.5);
}

nav h1 span {
    color: #ff4500;
    font-size: calc(var(--font-size)*2);
}

nav .buttons button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    font-size: calc(var(--font-size)*0.8);
    border-radius: calc(var(--border-radius)*2);
    border: 2px solid transparent;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    color: var(--text-color);
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
}

nav .buttons button i {
    color: var(--border-color);
}

nav button:hover {
    border: 2px solid var(--border-color);
    scale: 1.1;
}

nav button * {
    margin: 0 0.5rem 0 0;
}

nav .searchbar input::placeholder {
    color: var(--text-color);
}

nav .searchbar input {
    width: 50rem;
    padding: 0.5rem 3rem;
    border-radius: calc(var(--border-radius)*2);
    color: var(--black);
    font-size: calc(var(--font-size)*0.9);
    border: none;
    background-color: var(--body-color);
    outline: none;
}

nav .searchbar input:focus{
    border-radius: 0.5rem 0.5rem 0 0; 
}

.searchbar {
    display: flex;
    align-items: center;
    position: relative;
}

.dropdown {
    position: absolute;
    top: 120%;
    left: 1.85%;
    width: 95.5%;
    background-color: var(--body-color);
    border-radius:0 0 0.5rem 0.5rem;
    box-shadow: 0 4px 4px var(--bg-color);
    height: 10rem;
    overflow-y: scroll;
    z-index: 9999;
    display: none;
}

.dropdown li{
    padding: 0.5rem;
    list-style-type: none; 
    box-shadow: 0 1px 1px  var(--bg-color);
    font-size: calc(var(--font-size)*0.9);
    cursor: pointer;
    color: var(--text-color);
}

.dropdown li:hover{
    background-color: var(--white);
}

input:hover,
input:focus {
    box-shadow: 0px 2px 0 var(--bg-color);
}

nav .searchbar i {
    position: relative;
    left: 2rem;
    color: var(--border-color);
}

.website {
    position: relative;
    top: 5rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 98vw;
    gap: 0.5rem;
}

.top, .right {
    padding: 0.5rem;
}

.main {
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.top {
    height: 16rem;
    width: 69rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border-radius: calc(var(--border-radius)*0.5);
}

.reelcard {
    height: 100%;
    width: 18rem;
    border-radius: calc(var(--border-radius)*0.5);
    overflow: hidden;
    background-color: var(--white);
    box-shadow: 0 0 10px var(--box-shadow);
    padding: 0.2rem;
    display: inline-block;
    margin-right: 0.6rem;
    cursor: pointer;
}

.reelcard img {
    height: 65%;
    width: 100%;
    object-fit: cover;
    border-radius: calc(var(--border-radius)*0.5);
    overflow: hidden;
}

.reelcard h1 {
    color: var(--border-color);
    font-size: calc(var(--font-size)*1.3);
    padding: 0 0.5rem;
}

.reelcard p {
    padding: 0 0.6rem;
    font-size: calc(var(--font-size)*0.9);
    color: var(--text-color);
}

.reelcard:hover, .reelcard:focus {
    transform: translateY(-0.5rem);
    border-bottom: 3px solid var(--bg-color);
}

.reelcard:active {
    scale: 0.95;
}

.content {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.left {
    height: 40rem;
    width: 20rem;
    border-radius: calc(var(--border-radius)*0.5);
    position: sticky;
    top: 6rem;
}

.left .username img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.username {
    display: flex;
    background-color: var(--white);
    padding: 0.5rem 1rem;
    align-items: center;
    border-radius: inherit;
    box-shadow: 0 0 10px var(--box-shadow);
    overflow: hidden;
    gap: 1rem;
    margin-top: 0.5rem;
    display: none;
}

.usertext h3 {
    color: var(--border-color);
    font-size: calc(var(--font-size)*1.1);
    outline: none;
}

.username .usertext p {
    font-size: calc(var(--font-size)*0.8);
    color: var(--icon-color);
    outline: none;
}

.sidebar {
    margin-top: 0.5rem;
    background-color: var(--white);
    font-size: calc(var(--font-size)*1.2);
    display: flex;
    flex-direction: column;
    border-radius: inherit;
}

.sidebar button {
    display: flex;
    cursor: pointer;
    gap: 1rem;
    align-items: center;
    color: var(--text-color);
    border: none;
    background-color: transparent;
    border-radius: inherit;
    padding: 1rem;
}

.sidebar button h3 {
    font-size: calc(var(--font-size)*1.05);
}

.sidebar button i {
    font-size: calc(var(--font-size)*1.4);
    color: var(--icon-color);
    width: 2rem;
}

.sidebar button:hover, .sidebar button:focus {
    color: var(--border-color);
    background-color: var(--white);
    scale: 1.07;
    box-shadow: 0 0px 10px var(--box-shadow);
    border-bottom: 3px solid var(--bg-color);
}

.sidebar button:focus {
    background-color: var(--body-color);
    border-bottom: 3px solid var(--bg-color);
    scale: 1.04;
}

.sidebar button:focus i, .theme button:focus i, .theme button:focus h3 {
    color: var(--border-color);
}

.sidebar button:focus h3 {
    transform: translateX(2rem);
}

.topic {
    margin-left: 2rem;
}

.topic button {
    border-radius: calc(var(--border-radius)*2);
    color: var(--text-color);
    width: 100%;
    font-size: calc(var(--font-size)*1.1);
}

/* _____________________________ */

.center {
    width: 52rem;
    border-radius: calc(var(--border-radius)*0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.feedcard {
    height: fit-content;
    width: 97%;
    background-color: var(--body-color);
    border-radius: inherit;
    padding: 0.5rem;
    margin-top: 0.2rem;
    box-shadow: 0 0 4px var(--box-shadow);
}

.feedcard:hover {
    background-color: var(--white);
}

.feedcard:hover .lastline button,
.feedcard:hover .lastline a,
.feedcard:hover .lastline .like {
    background-color: var(--body-color);
}

.bla {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.feedcard .firstline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedcard .firstline img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--icon-color);
}

.feedcard .firstline h6, p {
    font-size: calc(var(--font-size)*0.7);
    justify-self: flex-start;
    color: var(--icon-color);
}

.feedcard h3 {
    color: var(--text-color);
    margin: 0.5rem 0;
}

.feedcard .imgdiv {
    width: 100%;
    height: 30rem;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.feedcard img {
    width: 100%;
    height: 30rem;
    object-fit: contain;
    border-radius: inherit;
    backdrop-filter: blur(40px);
}

.extra {
    display: inline-block;
    font-size: calc(var(--font-size)*0.9);
    color: var(--text-color);
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    cursor: pointer;
}

.read{
    width: 100%;
    overflow: visible;
    white-space:unset;
}

.feedcard .lastline {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 2rem;
}

.lastline button, .lastline a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    border-radius: calc(var(--border-radius)*2);
    padding: 0.1rem;
    background-color: var(--white);
}

.lastline button i:hover {
    scale: 1.2;
}

.lastline button i, .lastline a i {
    padding: 0.5rem;
    font-size: calc(var(--font-size)*1.2);
    cursor: pointer;
}

.lastline button p, 
.lastline a p {
    font-size: 0.9rem;
    color: var(--text-color);
}

.like {
    height: 2.4rem;
    width: 2.4rem;
    background-color: var(--white);
    color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--font-size)*1.2);
}

.popup {
    height: 10rem;
    width: 18rem;
    position: fixed;
    border-radius: var(--border-radius);
    background-color: var(--white);
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    display: none;
}

.popup h1 {
    text-align: center;
    color: var(--border-color);
    margin-bottom: 1rem;
}

.close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    color: red;
    padding: 0.2rem;
    cursor: pointer;
}

#closeDropdown{
    color: red;
    left: -2.2rem;
    top: 0;
    display: none;
}

.theme button {
    padding: 1rem;
    width: 5rem;
    background-color: var(--body-color);
    display: inline-block;
    margin: 0 0.4rem;
    color: var(--text-color);
    border: none;
    font-size: calc(var(--font-size)*0.8);
    border-radius: calc(var(--border-radius));
}

.theme button i {
    font-size: calc(var(--font-size)*1.3);
    color: var(--icon-color);
    margin-bottom: 0.5rem;
}

.theme button:hover {
    box-shadow: 0 3px 0 var(--bg-color);
    scale: 1.1;
    color: var(--border-color);
}

.theme button:focus {
    background: var(--white);
    box-shadow: 0 0 10px var(--box-shadow);
    border-bottom: 3px solid var(--bg-color);
}

.right {
    height: 30rem;
    width: 15rem;
    padding: 1rem;
    position: sticky;
    top: 5.5rem;
    border-radius: calc(var(--border-radius)*0.5);
    background-color: var(--white);
}

.right input{
    padding: 0.5rem 1rem 0.5rem 3rem;
    background-color: var(--body-color);
    border: none;
    color: var(--black);
    outline: none;
    border-radius: 2rem;
    width: calc(100% - 4rem);
    margin-bottom: 0.5rem;
}

.right i{
    position: absolute;
    top: 4.2rem;
    left: 2rem;
    color: var(--border-color);
}

.channel {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: calc(var(--border-radius)*0.5);
    padding: 0.5rem;
    cursor: pointer;
    color: var(--text-color);
}

.channel h5 {
    font-weight: 400;
}

.right h4 {
    color: var(--border-color);
}

.channel:hover {
    background-color: var(--body-color);
}

.channel img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

/* __________________________________________________________________Login Form */

#form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--black);
    width: 25rem;
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    z-index: 99;
    box-shadow: 0 0 20px var(--bg-color);
    display: none;
}

#form h1 {
    color: var(--border-color);
    text-align: center;
    font-size: calc(var(--font-size)*2);
    margin-bottom: 1rem;
}

#form label{
    font-size: calc(var(--font-size)*0.9);
}

#form button {
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    width: 50%;
    font-size: var(--font-size);
    color: var(--white);
    font-weight: bold;
    background-color: var(--border-color);
    border: none;
    border-radius: 4px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

#form button:hover {
    opacity: 0.8;
}

.input-control {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.input-control input {
    border: 2px solid transparent;
    outline: none;
    border-radius: 0.5rem;
    color: var(--black);
    background-color: var(--body-color);
    padding: 0.7rem 1rem;
    width: 90%;
}

.input-control input::placeholder{
    font-size: calc(var(--font-size)*0.8);
}

.input-control i {
    position: relative;
    width: fit-content;
    text-align: center;
    font-size: large;
    background-color: var(--body-color);
    color: var(--icon-color);
    top: -2rem;
    left: 90%;
    cursor: pointer;
}

.input-control.success input {
    border-color: green;
}

.input-control.error input {
    border-color: red;
}

.input-control .error {
    color: red;
    font-size: 9px;
    height: 13px;
}
